<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CDKeyMiner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CDKeyMiner.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="JWT" serializeAs="String">
                <value />
            </setting>
            <setting name="MigrateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AVExclusion" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="EcoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Plugin" serializeAs="String">
                <value>NBMiner</value>
            </setting>
        </CDKeyMiner.Properties.Settings>
    </userSettings>
</configuration>